<div class="row">
  <div class="col-md-12">

    <h2> 購物車明細 </h2>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">購買商品</th>
          <th>單價</th>
          <th>數量</th>
        </tr>
      </thead>
      <tbody>

        <% current_cart.cart_items.each do |cart_item| %>
          <tr>
            <td>
              <%= link_to good_path(cart_item.good) do %>
                <% if cart_item.good.image.present? %>
                  <%= image_tag(cart_item.good.image.thumb.url, class: "thumbnail") %>
                <% else %>
                  <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
                <% end %>
              <% end %>
            </td>
            <td>
              <%= link_to(cart_item.good.title, good_path(cart_item.good)) %>
              <br/>
              <%= link_to("刪除", cart_item_path(cart_item.good_id), method: :delete ) %>
            </td>
            <td>
              <%= cart_item.good.stuff_price %>
            </td>
            <td>
              <%= cart_item.quantity %>
            </td>
          </tr>
        <% end %>

      </tbody>
    </table>


    <br>

    <div class="total clearfix">
      <span class="pull-right">
           總計 <%= render_cart_total_price(current_cart) %>  元
      </span>
    </div>

    <hr>

    <div class="checkout clearfix">
      <%= link_to("清空購物車", cart_path(current_cart), :method => :delete, :data => { :confirm => "全都不買了嗎？"} , class: "btn btn-lg btn-default pull-left") %>
      <%= link_to("確認無誤結帳", "#", method: :post, class: "btn btn-lg btn-danger pull-right") %>
    </div>
  </div>
</div>
