<div class="dropdown clearfix pull-right">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      排序
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
        <li>
          <%= link_to("按照價格排序", goods_path(:order => "by_price")) %>
        </li>
        <li>
          <%= link_to("最新上架", goods_path ) %>

        </li>
    </ul>
</div>

<br/>
<br/>

  <div class="row">
  <% @goods.each do |good| %>
  <div class="col-xs-6 col-md-3">
      <%= link_to good_path(good) do %>
      <% if good.image.present? %>
      <%= image_tag(good.image.thumb.url, class: "thumbnail") %>
      <% else %>
      <%= image_tag("http://placehold.it/200x200&text=NoPic", class: "thumbnail") %>
      <% end %>

      <% end %>

      <%= good.title %> $ <%= good.stuff_price %>
</div>
  <% end %>
</div>
