<div class="dropdown clearfix pull-right">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      排序
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
        <li>
          <%= link_to("按照價格排序", goods_path(:order => "by_price")) %>
        </li>
        <li>
          <%= link_to("按照发表时间排序", goods_path ) %>

        </li>
    </ul>
</div>
<table class="table table-boldred">
  <thead>
    <tr>
      <td>商品名稱</td>
      <td>商品尺寸</td>
      <td>售價</td>
      <td>庫存數量</td>
      <td>刊登時間</td>
    </tr>
  </thead>
  <tbody>
  <% @goods.each do |good| %>
  <tr>
    <td>
      <%= link_to(good.title, good_path(good)) %>
    </td>
    <td>
      <%= good.stuff_size %>
    </td>
    <td>
      <%= good.stuff_price %>
    </td>
    <td>
      <%= good.stuff_quantity %>
    </td>

    <td>
      <%= good.created_at %>
    </td>
  </tr>
  <% end %>
</tbody>
</table>
