<div class="row">
  <div class="col-md-6">
    <% if @good.image.present? %>
    <%= image_tag(@good.image.medium.url, class: "thumbnail") %>
    <% end %>
  </div>  
  <div class="col-md-6">
    <h2> <%= @good.title %></h2>
    <div style="height:100px;">
      <p>
        <%= @good.description %>
      </p>
    </div>
    <div> 數量： <%= @good.stuff_quantity %></div>
    <div class="product-price">$<%= @good.stuff_price %></div>
    <div class="pull-right">
      <%= link_to("add to cart", "#", :class => "btn btn-primary btn-lg btn-danger") %>
    </div>
  </div>
</div>
