<h2>Add a stuff </h2>
<%= simple_form_for [:admin,@good] do |f| %>
  <div class="group">
    <%= f.input :title %>
  </div>

  <div class="group">
    <%= f.input :description %>
  </div>

  <div class="group">
    <%= f.input :stuff_size, :label => "尺寸" %>
  </div>

  <div class="group">
    <%= f.input :stuff_price, :label => "價格" %>
  </div>

  <div class="group">
    <%= f.input :stuff_quantity, :label => "庫存數量" %>
  </div>

  <div class="group">
    <%= f.input :is_hidden %>
  </div>

  <div class="group">
    <%= f.input :image, as: :file %>
  </div>

<%= f.submit "Submit", data:{disable_with: "Submitting..."} %>

<% end %>
